server:
  port: 8901
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://43.136.85.110:3306/elite-code?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
    username: root
    password: 123456qqq.
mybatis:
  mapper-locations: classpath:/mapper/*.xml #mapper位置
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl