<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elitecode.module.resume.dal.mysql.question.QuestionMapper">

    <resultMap id="QuestionResult" type="cn.elitecode.module.resume.dal.dataobject.question.QuestionDO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="answer" column="answer"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <collection property="problemsetDOList" resultMap="ProblemsetResult"/>
        <collection property="tagDOList" resultMap="TagResult"/>
    </resultMap>

    <resultMap id="ProblemsetResult" type="cn.elitecode.module.resume.dal.dataobject.problemset.ProblemsetDO">
        <id property="id" column="p_id" />
        <result property="title" column="p_title" />
    </resultMap>

    <resultMap id="TagResult" type="cn.elitecode.module.resume.dal.dataobject.tag.TagDO">
        <id property="id" column="t_id" />
        <result property="name" column="t_name"/>
    </resultMap>

    <!-- int insertQuestion(QuestionDO questionDO); -->
    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into resume_question
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="title != null and title != ''">title,</if>
                <if test="content != null and content != ''">content,</if>
                <if test="answer != null and answer != ''">answer,</if>
                <if test="createBy != null and createBy != 0">create_by,</if>
            </trim>
        values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="title != null and title != ''">#{title},</if>
                <if test="content != null and content != ''">#{content},</if>
                <if test="answer != null and answer != ''">#{answer},</if>
                <if test="createBy != null and createBy != 0">#{createBy},</if>
            </trim>
    </insert>

    <!-- void updateQuestionById(QuestionDO questionDO); -->
    <update id="updateQuestionById">
        update resume_question
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="answer != null and answer != ''">answer = #{answer},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </set>
        where
            id = #{id}
    </update>

    <delete id="deleteByQuestionIds">
        update resume_question
        set
            del_flag = '2'
        where id in 
            <foreach collection="questionIds" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
    </delete>

    <!-- int deleteByQuestionIds(@Param("questionIds") Long[] questionIds); -->
    <select id="selectQuestionById" resultMap="QuestionResult">
        select
            q.id,
            q.title,
            q.content,
            q.answer,
            q.del_flag,
            q.create_by,
            q.create_time,
            q.update_by,
            q.update_time,
            p.id as p_id,
            p.title as p_title,
            t.id as t_id,
            t.name as t_name
        from
            resume_question q
            LEFT JOIN resume_problemset_question_relation pq on pq.question_id = q.id
            LEFT JOIN resume_problemset p on p.id = pq.problemset_id
            left join resume_tag_question_relation qt on qt.question_id = q.id
            left join resume_tag t on t.id = qt.tag_id
        where
            q.id = #{questionId}
    </select>

    <!-- List<QuestionDO> selectQuestionList(QuestionQueryReqVO questionQueryReqVO); -->
    <select id="selectQuestionList" resultMap="QuestionResult">
        select
            q.id,
            q.title,
            q.content,
            q.answer,
            q.del_flag,
            q.create_by,
            q.create_time,
            q.update_by,
            q.update_time
        from
            resume_question q
        where
            q.del_flag = '0'
            <if test="title != null and title != ''">and q.title like concat("%", #{title}, "%")</if>
            <if test="createBy != null and createBy != 0">and q.create_by = #{createBy}</if>
            <if test="updateBy != null and updateBy != 0">and q.update_by = #{updateBy}</if>
            <if test="startTime != null and endTime != null">and q.create_time between #{startTime} and #{endTime}</if>
        <if test="sortFieldPair != null and sortFieldPair.size() > 0">
            order by
                <foreach collection="sortFieldPair" separator="," item="sortField">
                    ${sortField}
                </foreach>
        </if>
        limit #{current}, #{pageSize}
    </select>

    <!-- Long getQuestionTotal(QuestionQueryReqVO questionQueryReqVO); -->
    <select id="getQuestionTotal" resultType="java.lang.Long">
        select
            count(*)
        from
            resume_question
        where
            del_flag = '0'
            <if test="title != null and title != ''">and title like concat("%", #{title}, "%")</if>
            <if test="createBy != null and createBy != 0">and q.create_by = #{createBy}</if>
            <if test="updateBy != null and updateBy != 0">and q.update_by = #{updateBy}</if>
            <if test="startTime != null and endTime != null">and q.create_time between #{startTime} and #{endTime}</if>
    </select>

    <!-- List<QuestionDO> selectProblemsetQuestionList(ProblemsetQueryQuestionReqVO problemsetQueryQuestionReqVO); -->
    <select id="selectProblemsetQuestionList" resultMap="QuestionResult">
        SELECT
            q.id,
            q.title,
            q.content,
            q.answer,
            q.del_flag,
            q.create_by,
            q.create_time,
            q.update_by,
            q.update_time
        FROM
            resume_question q
            LEFT JOIN resume_problemset_question_relation pq on pq.question_id = q.id
            LEFT JOIN resume_problemset p on p.id = pq.problemset_id
        where
            q.del_flag = '0'
            and p.id = #{problemsetId}
            <if test="problemsetTitle != null and problemsetTitle != ''">and q.title like concat("%", #{problemsetTitle}, "%")</if>
            <if test="problemsetContent != null and problemsetContent != ''">and q.content like concat("%", #{problemsetContent}, "%")</if>
    </select>

    <!-- Long selectProblemsetQuestionTotal(ProblemsetQueryQuestionReqVO problemsetQueryQuestionReqVO); -->
    <select id="selectProblemsetQuestionTotal" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            resume_question q
            LEFT JOIN resume_problemset_question_relation pq on pq.question_id = q.id
            LEFT JOIN resume_problemset p on p.id = pq.problemset_id
        where
            q.del_flag = '0'
            and p.id = #{problemsetId}
            <if test="problemsetTitle != null and problemsetTitle != ''">and q.title like concat("%", #{problemsetTitle}, "%")</if>
            <if test="problemsetContent != null and problemsetContent != ''">and q.content like concat("%", #{problemsetContent}, "%")</if>
    </select>

    <!-- List<QuestionDO> getAllQuestionList(); -->
    <select id="getAllQuestionList" resultMap="QuestionResult">
        SELECT
            q.id,
            q.title,
            q.content,
            q.answer,
            q.del_flag,
            q.create_by,
            q.create_time,
            q.update_by,
            q.update_time,
            p.id as p_id,
            p.title as p_title,
            t.id as t_id,
            t.name as t_name
        FROM
            resume_question q
            LEFT JOIN resume_problemset_question_relation pq on pq.question_id = q.id
            LEFT JOIN resume_problemset p on p.id = pq.problemset_id
            left join resume_tag_question_relation qt on qt.question_id = q.id
            left join resume_tag t on t.id = tag_id
        where
            q.del_flag = '0'
    </select>

    <!-- List<QuestionDO> selectAppProblemsetQuestionList(AppProblemsetQuestionQueryReqVO appProblemsetQuestionQueryReqVO); -->
    <select id="selectAppProblemsetQuestionList" resultMap="QuestionResult">
        SELECT
            q.id,
            q.title,
            q.content,
            q.answer,
            q.del_flag,
            q.create_by,
            q.create_time,
            q.update_by,
            q.update_time
        FROM
            resume_question q
            LEFT JOIN resume_problemset_question_relation pq on pq.question_id = q.id
            LEFT JOIN resume_problemset p on p.id = pq.problemset_id
        where
            q.del_flag = '0'
            and p.id = #{problemsetId}
            <if test="title != null and title != ''">and q.title like concat("%", #{title}, "%")</if>
        <if test="sortFieldPair != null and sortFieldPair.size() > 0">
            order by
            <foreach collection="sortFieldPair" separator="," item="sortField">
                ${sortField}
            </foreach>
        </if>
        limit #{current}, #{pageSize}
    </select>

    <!-- Long selectAppProblemsetQuestionTotal(AppProblemsetQuestionQueryReqVO appProblemsetQuestionQueryReqVO); -->
    <select id="selectAppProblemsetQuestionTotal" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            resume_question q
            LEFT JOIN resume_problemset_question_relation pq on pq.question_id = q.id
            LEFT JOIN resume_problemset p on p.id = pq.problemset_id
        where
            q.del_flag = '0'
            and p.id = #{problemsetId}
            <if test="title != null and title != ''">and q.title like concat("%", #{title}, "%")</if>
    </select>

</mapper>
