<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elitecode.mapper.ProblemsetQuestionMapper">

    <resultMap id="BaseResultMap" type="cn.elitecode.model.entity.ProblemsetQuestion">
            <id property="problemsetId" column="problemset_id" />
            <id property="questionId" column="question_id" />
    </resultMap>

    <sql id="Base_Column_List">
        problemset_id,question_id
    </sql>

    <!-- void batchProblemsetQuestion(@Param("problemsetQuestionList") List<ProblemsetQuestion> problemsetQuestionList); -->
    <insert id="batchProblemsetQuestion">
        insert into
            problemset_question(problemset_id, question_id)
        values
            <foreach collection="problemsetQuestionList" separator="," item="problemsetQuestion">
                (#{problemsetQuestion.problemsetId}, #{problemsetQuestion.questionId})
            </foreach>
    </insert>

    <!-- void deleteProblemsetQuestionByQuestionId(Long questionId); -->
    <delete id="deleteProblemsetQuestionByQuestionId">
        delete
        from
            problemset_question
        where
            question_id = #{questionId}
    </delete>

    <!-- void deleteProblemsetQuestionByQuestionIds(@Param("questionIds") Long[] questionIds); -->
    <delete id="deleteProblemsetQuestionByQuestionIds">
        delete
        from
            problemset_question
        where
            question_id in
                <foreach collection="questionIds" open="(" separator="," close=")" item="questionId">
                    #{questionId}
                </foreach>
    </delete>

</mapper>
