<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elitecode.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="cn.elitecode.model.entity.UserRole">
            <id property="userId" column="user_id" />
            <id property="roleId" column="role_id" />
    </resultMap>

    <!-- void batchUserRole(@Param("userRoleList") List<UserRole> userRoleList); -->
    <insert id="batchUserRole">
        insert into
            user_role(user_id, role_id)
        values
            <foreach collection="userRoleList" separator="," item="userRole">
                (#{userRole.userId}, #{userRole.roleId})
            </foreach>
    </insert>

    <!-- void deleteUserRoleByUserId(Long userId); -->
    <delete id="deleteUserRoleByUserId">
        delete
        from
            user_role
        where
            user_id = #{userId}
    </delete>

    <!-- void deleteUserRoleByUserIds(@Param("userIds") Long[] userIds); -->
    <delete id="deleteUserRoleByUserIds">
        delete
        from
            user_role
        where
            user_id in
            <foreach collection="userIds" open="(" separator="," close=")" item="userId">
                #{userId}
            </foreach>
    </delete>

    <!-- int countUserRoleByRoleId(Long roleId); -->
    <select id="countUserRoleByRoleId" resultType="java.lang.Integer">
        select
            count(1)
        from
            user_role
        where
            role_id = #{roleId}
    </select>
</mapper>
