# 项目相关配置
elitecode:
  # 文件上传相关配置
  fileupload:
    # 上传路径（Windows：D:/upload/     Linux：/elitecode/upload/）
    upload-path: /elitecode/upload/
    # 资源映射路径 前缀
    resource-prefix: http://192.168.88.130/

# 开发环境配置
server:
  port: 8901
  servlet:
    context-path: /

# Spring配置
spring:
  profiles:
    active: dev # 默认为开发环境
  servlet:
    multipart:
      #配置单个文件最大上传大小
      max-file-size: 10MB
      #配置单个请求最大上传大小(一次请求可以上传多个文件，多个文件的总大小不能超过100M，通过集合上传)
      max-request-size: 100MB
  datasource:
    druid:
      # 初始连接数
      initialSize: 5
      # 最小连接池数量
      minIdle: 10
      # 最大连接池数量
      maxActive: 20
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置连接超时时间
      connectTimeout: 30000
      # 配置网络超时时间
      socketTimeout: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      # 配置一个连接在池中最大生存的时间，单位是毫秒
      maxEvictableIdleTimeMillis: 900000
      # 配置检测连接是否有效
      validationQuery: SELECT 1 FROM DUAL

# MyBatis配置
mybatis:
  mapper-locations: cn.elitecode.mapper/*.xml #mapper位置
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  type-aliases-package: cn.elitecode.model.entity

# Knife4j配置
knife4j:
  enable: true
  openapi:
    title: "EliteCode面试刷题平台"
    version: 1.0
    group:
      default:
        api-rule: package
        api-rule-resources:
          - cn.elitecode.web.controller