<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luoyan.elitecode.mapper.UserMapper">

    <resultMap id="UserResult" type="User">
            <id property="userId" column="user_id"/>
            <result property="userAccount" column="user_account"/>
            <result property="userPassword" column="user_password"/>
            <result property="nickName" column="nick_name"/>
            <result property="userAvatar" column="user_avatar"/>
            <result property="userProfile" column="user_profile"/>
            <result property="userRole" column="user_role"/>
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time"/>
            <result property="updateBy" column="update_by"/>
            <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectUserVo">
        user_id,user_account,user_password,
        nick_name,user_avatar,user_profile,
        user_role,create_by,create_time,
        update_by,update_time
    </sql>

    <select id="selectUserById" resultMap="UserResult" parameterType="Long">
        select
            <include refid="selectUserVo"/>
        from
            user
        where
            user_id = #{userId}
    </select>

    <select id="selectUserByUserAccount" resultMap="UserResult">
        select
            <include refid="selectUserVo"/>
        from
            user
        where
            user_account = #{userAccount}
    </select>

    <!-- int register(String userAccount, String encryptPassword); -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into user(
            <trim suffixOverrides=",">
                <if test="userId != null and userId != 0">user_id,</if>
                <if test="userAccount != null and userAccount != ''">user_account,</if>
                <if test="userPassword != null and userPassword != ''">user_password,</if>
                <if test="userAvatar != null and userAvatar != ''">user_avatar,</if>
                <if test="userProfile != null and userProfile != ''">user_profile,</if>
                <if test="userRole != null and userRole != ''">user_role,</if>
                <if test="createBy != null and createBy != ''">create_by,</if>
                <if test="updateBy != null and updateBy != ''">update_by,</if>
            </trim>
        )
        values(
            <trim suffixOverrides=",">
                <if test="userId != null and userId != 0">#{userId},</if>
                <if test="userAccount != null and userAccount != ''">#{userAccount},</if>
                <if test="userPassword != null and userPassword != ''">#{userPassword},</if>
                <if test="userAvatar != null and userAvatar != ''">#{userAvatar},</if>
                <if test="userProfile != null and userProfile != ''">#{userProfile},</if>
                <if test="userRole != null and userRole != ''">#{userRole},</if>
                <if test="createBy != null and createBy != ''">#{createBy},</if>
                <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            </trim>
        )
    </insert>

</mapper>
